@font-face {
  font-family: "Untitled Sans";
  src: url("untitled-sans-web-regular.woff2") format("woff2"),
       url("untitled-sans-web-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("untitled-sans-web-bold.woff2") format("woff2"),
       url("untitled-sans-web-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
